<div class="bg-white p-4 rounded-xl shadow hover:shadow-md transition flex justify-between items-start">

    <!-- LEFT -->
    <div class="flex-1">

        <div class="flex -space-x-2 mb-2">
            {{scheduled}}
        </div>

        <!-- Title -->
        <h3 class="text-base font-semibold text-gray-900 leading-tight">
            {{title}}
        </h3>

        <!-- Features -->
        <div class="flex gap-2 flex-wrap text-xs">
            {{tasks}}
        </div>

    </div>

    <!-- RIGHT -->
    <div class="flex items-start ml-4 mt-1">
        <div class="w-2.5 h-2.5 bg-green-500 rounded-full"></div>
    </div>

</div>